# Flutter build & metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/app/release/
android/app/profile/
android/app/debug/

# 🔐 Gizli dosyalar
android/app/google-services.json
lib/secrets.dart

# IDEs
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.class
*.swp
*.pyc
*.apk
*.ipa
*.zip
*.rar
*.exe
*.psd
*.ai
*.map
*.js

# Symbolication
app.*.symbols
app.*.map.json
